<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌管理</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <script src="../js/vue.js"></script>
    <script src="../js/elementui.js"></script>
    <script src="../js/axios.js"></script>
</head>
<body>
<div id="app">
    <!--查询表单-->
    <el-form :inline="true">
        <el-form-item label="商品名称">
            <el-input v-model="searchMap.name" placeholder="商品名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌首字母">
            <el-input v-model="searchMap.letter" placeholder="品牌首字母"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="fethData()">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="FormVisible=true">新增</el-button>
        </el-form-item>
    </el-form>
    <!--数据展示-->
    <el-table
            :data="tableData"
            border
            style="
            width: 100%;">
        <el-table-column
                prop="id"
                label="ID"
                width="180">
        </el-table-column>
        <el-table-column
                prop="name"
                label="名称"
        >
        </el-table-column>
        <el-table-column
                prop="letter"
                label="首字母"
                width="180">
        </el-table-column>
        <el-table-column
                label="图片"
                width="180">
            <!--图片展示is  *** 重点-->
            <template slot-scope="scope">
                <img :src="scope.row.image">
            </template>
        </el-table-column>
        <!--操作列表-->
        <el-table-column
                label="操作">
            <template slot-scope="scope">
                <el-button type="text" @click="edit(scope.row.id)">修改</el-button>
                <el-button type="text" @click="dele(scope.row.id)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <!--分页展示栏-->
    <el-pagination
            @size-change="fethData"
            @current-change="fethData"
            :current-page.sync="currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size.sync="size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>

    <!--弹出表单-->
    <el-dialog title="编辑" :visible.sync="FormVisible">
        <el-form :model="form">
            <el-form-item label="品牌名称">
                <el-input placeholder="品牌名称" v-model="pojo.name"></el-input>
            </el-form-item>
            <el-form-item label="品牌首字母">
                <el-input placeholder="品牌首字母" v-model="pojo.letter"></el-input>
            </el-form-item>
            <el-form-item label="图片">
                <el-upload
                        class="avatar-uploader"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item label="排序">
                <el-input placeholder="排序" v-model="pojo.seq"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="FormVisible = false">取 消</el-button>
            <el-button type="primary" @click="save">确 定</el-button>
        </div>
    </el-dialog>
</div>


<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],//brand数据
                total: 10,     //总记录数
                size: 10,      //页面展示条数
                currentPage: 1, //当前页
                searchMap: {},
                FormVisible: false,
                pojo: {}
            }
        },
        created() {
            this.fethData();
        },
        methods: {
            fethData() {
                axios.post(`/brand/findPage.do?page=${this.currentPage}&size=${this.size}`, this.searchMap).then(Response => {
                    this.tableData = Response.data.list;
                    this.total = Response.data.total;
                })
            },
            save() {
                axios.post(`/brand/${this.pojo.id == null ? 'add' : 'update'}.do`, this.pojo).then(Response => {
                    this.fethData();
                    this.FormVisible = false;
                })
            },
            edit(id) {
                this.FormVisible = true;
                axios.get(`/brand/findById.do?id=${id}`).then(Response => {
                    this.pojo = Response.data;
                })
            },
            dele(id) {
                this.$confirm('此操作将永久删除该品牌, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get(`/brand/delete.do?id=${id}`).then(Response => {
                        if (Response.data.code == 0) {
                            this.fethData();
                        } else {
                            alert(Response.data.message);
                        }
                    })
                })
            }
        }
    });
</script>
</body>
</html>